<!-- <section class="items">
  <div class="carouselOfImages">
    <div *ngFor="let movie of admin.movies; index as i" class="carouselImage">
      <img src="{{ movie.image }}" alt="{{ movie.name }}" />
    </div>
  </div>
</section>

<section class="product-detail bright hide">
  <div class="product-detail-inner">
    <a class="product-detail-close">x</a>
    <div
      *ngFor="let movie of admin.movies; index as i"
      class="product-detail-image"
    >
      <img src="" />
    </div>
    <div class="product-detail-text">
      <h3>{{ movie.name }}</h3>
      <p>{{ movie.description }}</p>
      <div class="price">
        <div class="price-binding">
          <h4>İmdb:</h4>
        </div>
        <div class="price-price">
          <h5>Date:</h5>
        </div>
        <a
          data-target=".modal-1"
          data-toggle="modal"
          data-the-video="{{ movie.video }}"
          class="btn btn-primary"
          >Watch the trailer</a
        >
      </div>
    </div>
  </div>
</section> -->
