.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper {
  width: 100%;
  color: black;
}
.container {
  color: lightgrey;
  overflow: auto;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-top: 50px;
}
th {
  text-align: center;
  background-color: #44af4a;
  color: white;
}
td {
  height: auto;
  vertical-align: center;
  color: black;
}
th,
td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
table {
  /* border-collapse: collapse; */
  text-align: center;
  border: 1px solid white;
  width: 100%;
}
tr:nth-child(even) {
  background-color: #cac9c9;
  color: black;
}
tr:nth-child(odd) {
  background-color: white;
  color: black;
}
