<div class="wrapper">
  <div class="header">
    <h2>Theatres</h2>
    <button class="btn btn-success" (click)="changeModal(true)">New</button>
  </div>
  <div>
    <div class="card">
      <table>
        <tr>
          <th>Theatre Name</th>
          <th>Location</th>
          <th>Number of Screens</th>
          <th>Movies</th>
          <th colspan="2">Modify</th>
        </tr>
        <tr *ngFor="let theatre of admin.theatres; index as i">
          <td>{{ theatre.name }}</td>
          <td>{{ theatre.city }}</td>
          <td>{{ theatre.noOfScreens }}</td>
          <td>{{ theatre.movies }}</td>
          <td><button>Delete</button></td>
          <td><button>Update</button></td>
        </tr>
      </table>
    </div>
  </div>
  <div *ngIf="showModal">
    <app-new-theatre></app-new-theatre>
  </div>
</div>
