<div class="wrapper">
    <div class="header">
        <h2>Movies</h2>
        <button class="btn btn-success" (click)="changeModal(true)">New</button>
    </div>
    <div class="cardHolder">
        <div *ngFor="let movie of admin.movies; index as i;" class="card">
            <button class="btn delete" (click)="deleteMovie(movie.id)">Delete</button>
            <img src={{movie.image}} alt={{movie.name}}>
            <h3>{{movie.name}}</h3>
            <p>{{movie.description}}</p>
        </div>
    </div>
    <div *ngIf="showModal">
        <app-new-movie></app-new-movie>
    </div>
</div>
