.container {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
}
.loginBox {
  width: 400px;
  height: 450px;
  background: #fff;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(102, 102, 102, 0.527);
}
.tabNav{
  margin: 25px 0px;
}
.tabNav > button {
  border: none;
  background: none;
  font-size: 16px;
  padding: 10px 5px;
  margin-right: 20px; 
  text-align: left;
}
button.underline{
  border-bottom: 3px solid #398439 !important;
}
button:focus{
  border: none;
  outline: none;
}
p {
  margin-top: 20px;
  color: #aaa;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}
