.container{
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
}
.loginBox{
    width: 400px;
    background: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(102, 102, 102, 0.527);
}
p{
    margin-top: 20px;
    color: #aaa;
}