<nav>
  <div class="wrapper">
    <a routerLink="/">
      <img src="../assets/logo.png" />
    </a>
    <ul>
      <li *ngIf="!auth.isAuth">
        <button class="btn">
          <a routerLink="/login" routerLinkActive="active" id="log">Login</a>
        </button>
      </li>
      <li *ngIf="!auth.isAuth">
        <button class="btn btn-success">
          <a routerLink="/register" routerLinkActive="active" id="reg"
            >Register</a
          >
        </button>
      </li>
      <li *ngIf="auth.isAuth" (click)="changeAuth(false)">
        <button class="btn btn-danger">Logout</button>
      </li>
      <li *ngIf="auth.isAuth">
        <button class="btn btn-success">
          <a routerLink="/admin" routerLinkActive="active">Admin</a>
        </button>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
