<div class="wrapper">
  <div class="navbar"></div>
  <div class="body">
    <div class="container">
      <app-movies-admin></app-movies-admin>
      <app-theatres-admin></app-theatres-admin>
      <app-screen-admin></app-screen-admin>
      <app-show-admin></app-show-admin>
    </div>
  </div>
</div>

<!--
<div class="custom-select-wrapper">
  <div class="custom-select">
    <div class="custom-select__trigger">
      <span>Movies</span>
      <div class="arrow"></div>
    </div>
    <div class="custom-options">
      <span class="custom-option selected" data-value="theatres">Theatres</span>
      <span class="custom-option" data-value="screens">Screens</span>
      <span class="custom-option" data-value="shows">Shows</span>
    </div>
  </div>
</div>
-->
