<!-- <div class="wrapper">
  <div class="navbar"></div>
  <div class="body">
    <div class="container">
      <app-movies-admin></app-movies-admin>
      <app-theatres-admin></app-theatres-admin>
      <app-screen-admin></app-screen-admin>
      <app-show-admin></app-show-admin>
    </div>
  </div>
</div> -->

<div class="dropdown" style="text-align: center;">
  <button class="dropbtn">Choose an option</button>
  <div class="dropdown-content">
    <a href="/add-movie" routerLinkActive="active">Movie</a>
    <a href="/add-theatre">Theatre</a>
    <a href="/add-screen">Screen</a>
    <a href="/add-show">Show</a>
  </div>
</div>

<router-outlet></router-outlet>
