<!-- Template for the seat component -->
<div class="container">
  <main class="innerContainer">
    <div class="movie">
      <h3 class="movieTitle">{{ movieTitle }}</h3>
      <div class="movieDetails">{{ screen }} - {{ time }}</div>
    </div>

    <!-- Showing a static legend bar -->
    <div class="legend">
      <span class="glyphicon glyphicon-stop freeSeat"></span> Free
      <span
        class="glyphicon glyphicon-ban-circle reservedSeat padding-left"
      ></span>
      Taken
      <span
        class="glyphicon glyphicon-ok-sign selectedSeat padding-left"
      ></span>
      Selected
    </div>

    <p class="font14 marginTop5">Screen this way</p>
    <div class="screen"></div>

    <!-- Generate the seating grid -->
    <div *ngFor="let row of rows">
      <span
        class="seat"
        *ngFor="let col of cols"
        (click)="seatClicked(row + col)"
        [ngSwitch]="getStatus(row + col)"
      >
        <span
          *ngSwitchCase="'selected'"
          class="glyphicon glyphicon-ok-sign selectedSeat"
        ></span>
        <span
          *ngSwitchCase="'reserved'"
          class="glyphicon glyphicon-ban-circle reservedSeat"
        ></span>
        <span *ngSwitchDefault class="glyphicon glyphicon-stop freeSeat"></span>
      </span>
    </div>

    <!-- Structural directive - only visible on selection -->
    <div *ngIf="selected.length > 0" class="font14 marginTB10">
      <div class="wordWrap">
        Seats Reserved : {{ selected.length }}
        <span class="count">({{ selected }})</span>
      </div>
      <div class="text">
        Price : {{ ticketPrice }} * {{ selected.length }} = {{ currency }}.{{
          ticketPrice * selected.length
        }}
      </div>
      <div class="fee">Convenience Fee : {{ currency }}.{{ convFee }}</div>
      <div class="total">
        Total : {{ currency }}.{{ ticketPrice * selected.length + convFee }}
      </div>
    </div>

    <!-- Action buttons -->
    <div class="buttonBar marginTop5">
      <button
        (click)="clearSelected()"
        [disabled]="selected.length === 0"
        class="btn btn-default btn-sm"
      >
        Clear
      </button>
      <a href="/payment" (click)="showSelected(); changeModal(true)">
        <button
          class="btn btn-success btn-sm"
          [disabled]="selected.length === 0"
        >
          Proceed to Pay
        </button>
      </a>
    </div>
  </main>
  <div *ngIf="showModal">
    <app-payment></app-payment>
  </div>
</div>
<router-outlet></router-outlet>
