<div>
    <form action="">
        <!-- <label for="">First Name</label><br> -->
        <input type="text" name="fName" id="" placeholder="First Name" /><br /><br />
        <!-- <label for="">Last Name</label><br> -->
        <input type="text" name="lName" id="" placeholder="Last Name" /><br /><br />
        <!-- <label for="">E-mail Address</label><br> -->
        <input type="text" name="mail" id="" placeholder="E-mail Address" /><br /><br />
        <!-- <label for="">Password</label><br> -->
        <input type="text" name="password" id="" placeholder="Password" /><br /><br />
        <button type="submit">Register</button>
    </form>
</div>